@model Image

@{
    ViewData["Title"] = "OpenImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Root items = new Root();
    items = items.init();
    var annotations = items.annotations.Where(i => i.image_id == Model.id);
    int sizeOfRoot = items.images.Count;
    int nextId = Model.id + 1;
    int preId = Model.id - 1;
}

<div>
    <div style="display: flex; justify-content: center;" >
        <div style="display: flex; cursor: pointer; width: 85%; justify-content: space-between;">
            <a class="fa fa-chevron-left" @if(preId==(-1)){<text>style="cursor: no-drop;margin-left:0px;text-decoration:none;color:black;"</text>}else{<text>style="margin-left:0px;text-decoration:none;color:black;" href="./@preId"</text>} aria-hidden="true"> PREV</a>
            <div class="arrows-chevron-btn">
                @Html.ActionLink("Edit", "EditImage", new {  id=Model.id  }, new { @class = "btn btn-primary", id="btn_edit"})
            </div>
            <a @if(nextId == sizeOfRoot){<text>style="margin-right:0px;text-decoration:none;color:black;cursor: no-drop;"</text>}else{<text>style="margin-right:0px;text-decoration:none;color:black;" href="./@nextId"</text>}>
                <b>NEXT</b>
                <i class="fa fa-chevron-right"  aria-hidden="true"></i>                
            </a>
        </div>
    </div>
</div>

@section ImageSection{
        @{var imagePath = @"\wwwroot\Images\"+Model.file_name;}  
        <img id="Image" src="@imagePath" hidden="hidden" asp-append-version="true">
        <canvas id="ImageCanvas" ></canvas>
        
}
@section RightSection{
    <select class="form-control" id="Category" name="Category">
        @{
            <option value="-1">All category</option>
            foreach(var item in items.categories){
                <option value="@item.id">@item.name</option>
            }
        }
    </select>
    <br />
    <div class="container-fluid" >
        <div class="row">
            <div class="col-2">From</div>
            <div class="col"><input type="text" id="from_id"></div>
        </div>
        <div class="row">
            <div class="col-2">To</div>
            <div class="col"><input type="text" id="to_id"></div>
        </div><br />
        <center>
            <button class="btn-primary btn-primary" id="btn_filter">Filter</button>
        </center>
    </div>

    <script>
        var btnFilter = document.getElementById('btn_filter');
        btnFilter.onclick = function () {
            var txtFromId = document.getElementById('from_id').value;
            var txtToId = document.getElementById('to_id').value;
            var drCatecory = document.getElementById('Category').value;
            if (drCatecory == -1) {
                alert("Please choose category");
            }else if (txtFromId.trim() == "" || txtToId.trim() == "") {
                alert("Input is empty");
            }
            else if (isNaN(txtFromId) || isNaN(txtToId)) {
                alert("Input is not number");
            } else {
                sessionStorage.setItem("from_id", txtFromId);
                sessionStorage.setItem("to_id", txtToId);
                sessionStorage.setItem("category", drCatecory);
                sessionStorage.setItem("idAnnotation", -1);
                sessionStorage.setItem("reload", 0);
                window.location = '../FilterImage';
            }
        }

        var btnEdit = document.getElementById("btn_edit");
        btnEdit.onclick = function(){
            sessionStorage.setItem("from_id", -1);
            sessionStorage.setItem("to_id", -1);
            sessionStorage.setItem("category", -1);
            sessionStorage.setItem("idAnnotation", -1);
        }

    </script>
}

@section JsSection{
    <script src="~/js/getAnnotation.js" asp-append-version="true"></script>
}

