@using Newtonsoft.Json
@{
    ViewData["Title"] = "FilterImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="abc"></div>
<div id="filter"></div>

@section JsSection{
    <script src="~/js/filterCategory.js" asp-append-version="true"></script>
}